@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

@font-face {
  font-family: GreycliffCF;
  src: url("../src/assets/fonts/FontsFree-Net-greycliff-cf-bold.ttf");
}

@font-face {
  font-family: GreycliffLight;
  src: url("../src/assets/fonts/FontsFree-Net-greycliff-cf-light-1.ttf");
}

@font-face {
  font-family: Muli;
  src: url("../src/assets/fonts/Muli.ttf");
}
  
  ._Getinge_OneScreen {
    width: 1440px;
    height: 1172px;
    background-color: #f4f5f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Rectangle {
    width: 1440px;
    height: 100px;
    background-color: rgba(24, 39, 74, 0.2);
    position: absolute;
    display: block;
    z-index: 9;
    top: 0;
  }

  .Logo {
    width: 194px;
    height: 40px;
    margin: 30px 0 30px 40px;
    object-fit: contain;
  }

  input[type=text]
  {
    outline: none;
    border:none;
    color: black;
  }

  .Rectangle-Copy-8 {
    width: 414px;
    height: 50px;
    margin: 10px 500px 0px 500px;
    padding: 0px 0px 0px 21px;
    border-radius: 10px;
    top: 15px;
    position: absolute;
    background: white;
  }

  .iconsearch {
    width: 22px;
    height: 22px;
    /* margin: 4px 10px 4px 0; */
    object-fit: cover;
    vertical-align: middle;
    text-align: center;
    padding: 10px 0px 12px 0px;
  }

  .Takip-Numaras-ile-K {
    width: 312px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 40px;
    margin: 0 0 0 10px;
    font-family: GreycliffCF;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.22px;
    color: #8e9fad;
    border: none;
    padding: 0;
  }

  .Rectangle-Copy-10 {
    width: 70px;
    height: 50px;
    padding: 20px 20px 17px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: inset 0 -3px 1px 0 rgba(28, 31, 37, 0.2);
    background-color: #1753c9;
    border: none;
    font-family: GreycliffLight;
  }

  .Ara {
    width: 30px;
    height: 17px;
    font-family: GreycliffLight;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.22px;
    text-align: center;
    color: #ffffff;
  }

  .Rectangle-Copy-14 {
    width: 260px;
    height: 50px;
    margin: 25px 40px 25px;
    padding: 12px 55px 14px 45px;
    border-radius: 10px;
    box-shadow: inset 0 -4px 1px 0 rgba(142, 159, 173, 0.2);
    background-color: rgba(255, 255, 255, 0.95);
    float: right;
    border:none;
  }

  .iconsss {
    width: 24px;
    height: 24px;
    margin: 0 15px 0 0;
    object-fit: contain;
  } 

  .Sk-Sorulan-Sorular {
    width: 121px;
    height: 19px;
    font-family: GreycliffCF;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #1c1f25;
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-align: center;
  }

  .mainInfo {
    width: 260px;
    height: 155px;
    background-color: rgba(255, 255, 255, 0.95);
    margin: 20px 40px 132px 582px;
    padding: 15px 0 17px;
    border-radius: 10px;
    float: right;
    position: absolute;
    box-shadow: inset 0 -4px 1px 0 rgba(142, 159, 173, 0.2);
    right: 0;
    top: 25%;
    font-family: GreycliffLight;
    box-sizing: border-box;
  }

  .weather label {
    font-family: GreycliffLight;
    font-weight: 300;
  }

  .mainInfo hr {
    top: 15px;
    position: relative;
  }

  .weather p {
    top: 5px;
    position: absolute;
    right: 74px;
    left: 67px;
    white-space: nowrap;
    font-family: GreycliffCF;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #1c1f25;
  }

  .workers p {
    bottom: 20px;
    position: absolute;
    left: 67px;
    white-space: nowrap;
    font-family: GreycliffCF;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #1c1f25;
    margin: 0 auto;
  }

  .weatherIcon {
    background-image: url("../src/assets/img/hava-durumu.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 26px;
    width: 32px;
    margin: 10px 15px 10px 25px;
  }

  .workerIcon {
    background-image: url("../src/assets/img/calisan.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 21px;
    width: 34px;
    margin: 10px 15px 10px 25px;
    position: relative;
    top: 30px;
  }

  .workers span {
    font-family: GreycliffCF;
  }

  .mainBlock {
    position: absolute;
    width: 1440px;
    height: 541px;
    top: 0;
  }
  
  .hero {
    width: 1440px;
    height: 541px;
    object-fit: contain;
    background-image: url("./assets/img/hero.png");
    background-repeat: no-repeat;
  }

  .With-passion-for-the {
    width: 449px;
    height: 191px;
    margin: 140px 911px 140px 80px;
    text-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    font-family: Muli;
    font-size: 48px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #ffffff;
    position: absolute;
  }

  .With-passion-for-the .text-style-1 {
    font-size: 80px;
    font-weight: bold;
    line-height: 0;
  }

  .We-focus-on-contamin {
    width: 478px;
    height: 78px;
    text-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #ffffff;
  }

  .ayinProjesi {
    position: absolute;
    width: 440px;
    height: 100px;
    padding: 9px 115px 14px 30px;
    border-radius: 10px;
    box-shadow: inset 0 -4px 1px 0 rgba(142, 159, 173, 0.2);
    border: solid 1px #dee3ed;
    background-color: rgba(255, 255, 255, 0.92);
    top: 490px;
    left: 40px;
    box-sizing: border-box;
  }

  .oneriBox {
    position: absolute;
    width: 440px;
    height: 100px;
    padding: 9px 115px 14px 30px;
    border-radius: 10px;
    box-shadow: inset 0 -4px 1px 0 rgba(142, 159, 173, 0.2);
    border: solid 1px #dee3ed;
    background-color: rgba(255, 255, 255, 0.92);
    top: 490px;
    left: 500px;
    box-sizing: border-box;
    right: 500px;
  }

  .operationBox {
    position: absolute;
    width: 440px;
    height: 100px;
    padding: 9px 115px 14px 30px;
    border-radius: 10px;
    box-shadow: inset 0 -4px 1px 0 rgba(142, 159, 173, 0.2);
    border: solid 1px #dee3ed;
    background-color: rgba(255, 255, 255, 0.92);
    top: 490px;
    left: 960px;
    box-sizing: border-box;
    right: 40px;
  }

  .projeText {
    width: 295px;
    height: 77px;
    font-family: GreycliffCF;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #18274a;
    margin: 25px 115px 14px 0px;
  }

  .oneriText {
    width: 295px;
    height: 77px;
    font-family: GreycliffCF;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #18274a;
    margin: 25px 115px 14px 0px;
  }

  .operationText {
    width: 295px;
    height: 77px;
    font-family: GreycliffCF;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #18274a;
    margin: 18px 115px 14px 0px;
  }

  .clip-circle {
    width: 100%;
    padding: 0 25px 0px 28px;
    background-color: rgba(45, 200, 255, 0.2);
    -webkit-clip-path: circle(80px at right);
    clip-path: circle(80px at right);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .cup {
    background-image: url("../src/assets/img/icon-leader.svg");
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    height: 32px;
    width: 32px;
    top: 30px;
    position: relative;
    left: 5px;
  }

  .info {
    background-image: url("../src/assets/img/icon-infoo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    height: 32px;
    width: 32px;
    top: 30px;
    position: relative;
    left: 5px;
  }

  .set {
    background-image: url("../src/assets/img/icon-operation.svg");
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    height: 32px;
    width: 32px;
    top: 30px;
    position: relative;
    left: 5px;
  }

  .announcements {
    height: 359px;
    width: 1360px;
    background-color: white;
    box-shadow: inset 0 -4px 1px 0 rgba(142, 159, 173, 0.2);
    border: solid 1px #dee3ed;
    border-radius: 20px;
    bottom: 60px;
    position: absolute;
    left: 40px;
    padding: 40px 40px 49px;
    box-sizing: border-box;
  }

  .Duyurular {
    width: 113px;
    height: 29px;
    margin: 1px 992px 35px 0;
    font-family: GreycliffCF;
    font-size: 24px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.36px;
    color: #263170;
  }

  .Rectangle-Copy-9 {
    left: 1145px;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    margin: 0 10px 0 0;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    border: solid 2px #dee3ed;
    background-color: #ffffff;
    position: absolute;
    top: 40px;
  }

  .searchIcon {
    background-image: url("./assets/img/icon-search.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
  }

  .genislet {
    box-sizing: border-box;
    display: flex;
    width: 120px;
    height: 45px;
    margin: 0 0 0 10px;
    padding: 11px 12px 12px 15px;
    border-radius: 10px;
    border: solid 2px #dee3ed;
    background-color: #ffffff;
    top: 40px;
    position: absolute;
    left: 1200px;
  }

  .genislet p {
    width: 53px;
    height: 20px;
    font-family: GreycliffCF;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    letter-spacing: -0.1px;
    color: #1753c9;
    margin-top: auto;
  }

  .maximize {
    background-image: url("./assets/img/icon-maximize.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
    position: absolute;
    display: flex;
    left: 86px;
    top: 10px;
    bottom: 10px;
  }

  .izin {
    box-sizing: border-box;
    width: 410px;
    height: 90px;
    border-radius: 10px;
    border: solid 1px #f41351;
    background-color: #ffffff;
  }

  .yeni {
    float: right;
    box-sizing: border-box;
    width: 60px;
    height: 25px;
    margin: 0 0 5px 10px;
    padding: 0px 17px 4px 16px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #f41351;
    color: white;
  }

  .yeni > span {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.2px;
  }

  .izin > p {
    display: table-cell;
    position: relative;
    top: 35px;
    left: 30px;
    font-family: GreycliffCF;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #253342;
    width: 100vw;
}

.arrow {
  background-image: url("./assets/img/icon-16-drop-right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  float: right;
}